# Installation

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

# Series

In [3]:
list_1 = [1,'a',2.5,'Rishab']
print(list_1)

[1, 'a', 2.5, 'Rishab']

In [4]:
series = pd.Series(list_1)
print(series)

0         1
1         a
2       2.5
3    Rishab
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series = pd.Series(list_1,index=['A','B','C','D'])
print(series)

A         1
B         a
C       2.5
D    Rishab
dtype: object

In [7]:
series = pd.Series(list_1,name='Values')
print(series)

0         1
1         a
2       2.5
3    Rishab
Name: Values, dtype: object

In [8]:
dict = pd.Series({'a':1,'b':2})
print (dict)

a    1
b    2
dtype: int64

In [9]:
series = pd.Series(list_1,index=['A','B','C','D'],name='Values')
print(series)

A         1
B         a
C       2.5
D    Rishab
Name: Values, dtype: object

In [10]:
series['D']

'Rishab'

In [11]:
series['A':'C']

A      1
B      a
C    2.5
Name: Values, dtype: object

# Mathematical operation

In [12]:
s4 = pd.Series([10,11,12,13,14])
print (s4)

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [13]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s4+s5

0    11
1    13
2    15
3    17
4    19
dtype: int64

In [15]:
#if unequal series value
s6 = pd.Series([3,2,1])

In [16]:
s4+s6

0    13.0
1    13.0
2    13.0
3     NaN
4     NaN
dtype: float64

# Pandas Dataframe

In [17]:
df1 = pd.DataFrame()
print (df1)

Empty DataFrame
Columns: []
Index: []

In [18]:
df2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print (df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
#creating from dict of list

In [21]:
dict = {'ID':[1,2,3,4,5]}
print (dict)

{'ID': [1, 2, 3, 4, 5]}

In [22]:
df3 = pd.DataFrame(dict)

In [23]:
df3

   ID
0   1
1   2
2   3
3   4
4   5

In [24]:
dict = {'ID':[1,2,3,4,5],'Name':['Rishab','Sumeer','Mayank','Yash','Harsh']}
print (dict)

{'ID': [1, 2, 3, 4, 5], 'Name': ['Rishab', 'Sumeer', 'Mayank', 'Yash', 'Harsh']}

In [25]:
df3 = pd.DataFrame(dict)

In [26]:
df3

   ID    Name
0   1  Rishab
1   2  Sumeer
2   3  Mayank
3   4    Yash
4   5   Harsh

In [27]:
#creating from list of dict

In [28]:
list_dic = [{'ID':1,'Name':'Rishab'},{'ID':2,'Name':'Sumeer'}]
df4 = pd.DataFrame(list_dic)
df4

   ID    Name
0   1  Rishab
1   2  Sumeer